<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flag</title>
	<style>
		@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');	

		html{
			height: 100%;
			font-family: "Roboto",sans-serif;
		}		
		p{
			border-left:3px solid gray;
			height:auto;
			padding-left:10px;
			font-size:18px;
		}
	</style>
</head>
<body>
	<h1>you got the best option</h1>
	<p>flag{y0u_f0und_th3_B3ST_m3th0d}</p>
</body>
</html>
